.todo__item {
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #000;

	&:last-child {
		margin-bottom: 0;
	}

	&-priority {
		display: flex;
		justify-content: space-between;
	}

	&-buttons {
		display: flex;
		justify-content: space-between;
	}
}